.tag-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.tag-container #badge-competence {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.tag-container #badge-outil {
    background-color: #025939;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
}